<!--#include virtual="/parts/header.html" -->

<div id="app">
  <div class="main">
    <tabs>
      <tab name="Тип устройства" :selected="true">
        <option-block
          v-for="option in typeOptions"
          v-bind:title="option.title"
          v-bind:code="option.code"
          v-bind:config="option.config"
        ></option-block>
      </tab>
      <tab name="Характеристики">
        <option-block
          v-for="option in featureOptions"
          v-bind:title="option.title"
          v-bind:code="option.code"
          v-bind:config="option.config"
        ></option-block>
      </tab>
      <tab name="Комплектация">
        <option-block
          v-for="option in bundleOptions"
          v-bind:title="option.title"
          v-bind:code="option.code"
          v-bind:config="option.config"
        ></option-block>
      </tab>
    </tabs>
    <option-result v-bind:title="typeOptionsTitle"></option-result>
  </div>
</div>

<!--#include virtual="/parts/footer.html" -->
