<!--#include virtual="/parts/header.html" -->

<div id="app">
  <div class="main">
    <tabs>
      <tab name="Тип устройства" :selected="true">
        <div id="type-block">
          <option-block
            @selected="onSelect"
            v-for="option in typeOptions"
            v-bind:title="option.title"
            v-bind:code="option.code"
            v-bind:config="option.config"
          ></option-block>
        </div>
      </tab>
      <tab name="Характеристики">
        <div id="feature-block">
          <option-block
            @selected="onSelect"
            v-for="option in featureOptions"
            v-bind:title="option.title"
            v-bind:code="option.code"
            v-bind:config="option.config"
          ></option-block>
        </div>
      </tab>
      <tab name="Комплектация">
        <div id="bundle-block">
          <option-block
            @selected="onSelect"
            v-for="option in bundleOptions"
            v-bind:title="option.title"
            v-bind:code="option.code"
            v-bind:config="option.config"
          ></option-block>
        </div>
      </tab>
    </tabs>
    <option-result v-html:text="resultBlock"></option-result>
  </div>
</div>

<!--#include virtual="/parts/footer.html" -->
